<ng-container *ngIf="isBrowser">
  <ng-container *ngIf="!product">
    <div class="ui-g-12 text-center loading" align="center">
      <p-progressSpinner strokeWidth="8" fill="#EEEEEE"
                         animationDuration=".5s"></p-progressSpinner>
    </div>
  </ng-container>


</ng-container>
<ng-container *ngIf="product">


  <div class="ui-g">
    <div class="ui-g-12 padding-0">
      <div class="layout-top">
        <div class="card" *ngIf="product && items">

          <div class="align-items-center">
            <ng-container *ngIf="!isMobile">
              <img *ngIf="product.images[0]" alt="{{product.name}}"
                   src="{{product.images[0].image_details.medium_image_url}}"
                   class="top-tab-image hide-mobile"/>
              <img *ngIf="!product.images[0]" alt="{{product.name}}"
                   src="static/assets/img/default_product.png"
                   class="top-tab-image hide-mobile"/>
              &nbsp;&nbsp;
            </ng-container>
            <p-tabMenu [model]="items" [activeItem]="items[activeTab]" [style]="{'border': 'none'}">

              <ng-template pTemplate="item" let-item let-i="index">
                <div class="tab-item">
                  <div class="padding-0 text-align-center">
          <span>&nbsp;&nbsp;&nbsp;
            {{item.label}}</span>
                  </div>
                  <ng-container *ngIf="item.badge">

                    <div class="padding-0" align="center">

                      <span class="title">{{item.badge | thousandSuffixes: 1 }}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!item.badge">
                    <div class="padding-0" align="center">

                      <i class="pi pi-th-large title"></i>
                    </div>
                  </ng-container>
                </div>
              </ng-template>


            </p-tabMenu>
          </div>

        </div>
      </div>
    </div>


    <div class="ui-g-12 layout-work padding-left-right-0">
      <div class="ui-g dashboard ui-fluid main-component-layout">
        <ng-container *ngIf="activeTab==0 && product">
          <div class="ui-g-12 product-profile-size padding-left-right-0">


            <div class="ui-g-12 padding-left-right-0">
              <div class="card">

                <div class="ui-g">
                  <ng-container *ngIf="!product.published">
                    <div class="ui-g-12 padding-0">
                      <div class="ui-toolbar-group-left ql-color-white">


                        <span class="info-box-unpublished">&nbsp;{{ 'GENERAL.Inactive' | translate }}&nbsp;</span>
                        &nbsp;&nbsp;


                      </div>
                    </div>

                  </ng-container>
                  <div class="ui-g-12 padding-0 text-muted margin-top-minus-0-8-em">
                    <app-categories-navigator [currentCategoryId]="product.category"
                                              (categorySelect)="onSelectCategory($event)"
                                              #navigator></app-categories-navigator>
                    <ng-container *ngIf="product.suggested_category &&  product.admin_status">
                      <div class="ui-g-12 padding-left-right-0 padding-top-0 padding-bottom-0">
                        <p>{{ 'CATEGORY.Category' | translate }}: {{product.suggested_category_details.name}} <span
                          class="badge-suggested">{{ 'ALERTS.In review' | translate }}</span></p>
                      </div>
                    </ng-container>

                  </div>

                  <div *ngIf="product.admin_status" class="ui-g-12 contacts text-pre-line">
                    <div class="ui-toolbar-group-right ql-color-white">
                      <ng-container *ngIf="product.company_details">
                        <a
                          [routerLink]="['/company-admin/'+product.company_details.slug+'/2']">{{ 'PRODUCT.Manage Your Products' | translate }}</a>
                      </ng-container>
                      <ng-container *ngIf="!product.company_details">
                        <a [routerLink]="['/profile/2']">{{ 'PRODUCT.Manage Your Products' | translate }}</a>
                      </ng-container>
                      &nbsp; &nbsp;
                      <a
                        [routerLink]="['/product-admin/'+product.id]">{{ 'PRODUCT.Manage Your Product' | translate }}</a>
                    </div>
                  </div>

                  <div class="ui-g-12 padding-bottom-0">

                    <div class="ui-toolbar-group-left vertical-middle">


                      <p-rating [ngModel]="product.eventsqty.rating" [cancel]="false" [disabled]="true"
                                [iconOnStyle]="{'color': '#FFC107'}" [iconOffStyle]="{'color': '#757575'}"></p-rating>
                      <div><span
                        class="text-muted small-text">&nbsp;{{ 'GENERAL.Reviews' | translate }}
                        : {{product.eventsqty.related_reviews | thousandSuffixes: 1 }}</span>
                      </div>


                    </div>

                    <div class="ui-toolbar-group-right">
                      <app-location-preview *ngIf="!product.company"
                                            [country]="product.user_data.user_profile.country_details"
                                            [city]="product.user_data.user_profile.city_details"></app-location-preview>
                      <app-location-preview *ngIf="product.company"
                                            [country]="product.company_details.country_details"
                                            [city]="product.company_details.city_details"></app-location-preview>
                    </div>
                  </div>

                  <div class="ui-g-12 padding-bottom-0 padding-top-0">
                    <ng-container *ngIf="!product.company && product.user_data">
                      <div class="ui-toolbar-group-left ql-color-white">
                        <app-user-preview-short [userData]="product.user_data" [locale]="language"
                                                [truncate_number]="truncateNumber" [showPreview]="true"
                                                [currentUser]="currentUserId"></app-user-preview-short>

                      </div>

                    </ng-container>
                    <ng-container *ngIf="product.company">
                      <div class="ui-toolbar-group-left ql-color-white">
                        <app-company-preview-short [locale]="language"
                                                   [company]="product.company_details"
                                                   [truncate_number]="truncateNumber" [showPreview]="true"
                                                   [currentUser]="currentUserId"></app-company-preview-short>


                      </div>


                    </ng-container>
                    <ng-container *ngIf="currentUserId">
                      <div class="ui-toolbar-group-right ql-color-white text-align-right">
                        <app-favorite-button [currentUserId]="currentUserId" [id]="product.id"
                                             [favoriteStatus]="product.favorite_status"
                                             [objectType]="'product'"
                        ></app-favorite-button>


                      </div>
                    </ng-container>

                  </div>


                  <div class="ui-md-5 ui-g-12 padding-left-right-0">

                    <ng-container *ngIf="isBrowser">
                      <app-product-image-view [product_id]="product.id" [images]="product.images"
                                              [isBrowser]="isBrowser" [isMobile]="isMobile" [edit_mode]="false"
                      ></app-product-image-view>
                    </ng-container>
                    <ng-container *ngIf="!isBrowser">
                      <img *ngIf="product.images[0]" alt="{{product.name}}"
                           src="{{product.images[0].image_details.medium_image_url}}"
                           class="img-fluid"/>
                    </ng-container>
                  </div>
                  <div class="ui-md-7 ui-g-12">


                    <div class="ui-g-12">
                      <h1 class="big-title">{{product.name}} </h1>


                    </div>

                    <div class="ui-g-12">
                      <ng-container *ngIf="!product.discount_price_to">
                        <div class="ui-g-12 padding-top-0 text-align-right">
                          <ng-container *ngIf="product.one_price && product.price_to">
                            <ng-container *ngIf="current_currency_details">
                              <ng-container *ngIf="current_currency_details.code">
          <span
            class="big-view-price-badge"><strong>{{product.price_to_current_currency | currency:current_currency_details.code :'symbol-narrow'  }}</strong></span>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf=" !product.price_to && !product.price_from">

                            <span
                              class="big-view-price-badge"><strong>{{ 'PRODUCT.By request' | translate }}</strong></span>

                          </ng-container>

                          <ng-container *ngIf="!product.one_price && product.price_from">
                            <ng-container *ngIf="current_currency_details.code">
          <span
            class="big-view-price-badge"><strong>{{product.price_from_current_currency | currency:current_currency_details.code:'symbol-narrow'}}</strong></span>
                              <span class="big-price-text"> - </span><span *ngIf="product.price_to"
                                                                           class="big-view-price-badge"><strong>{{product.price_to_current_currency | currency:current_currency_details.code:'symbol-narrow'}}</strong></span>
                            </ng-container>
                          </ng-container>

                          <ng-container *ngIf="product.unit_type_details">

                            <span class="big-price-text"> / {{product.unit_type_details.code}}</span>

                          </ng-container>
                        </div>
                      </ng-container>


                      <ng-container *ngIf="product.discount_price_to">
                        <div class="ui-md-12 ui-g-12 padding-top-0 text-align-right">


                          <div class="ui-toolbar-group-right">
                            <ng-container *ngIf="product.one_price && price">
                              <ng-container *ngIf="current_currency_details">
          <span
            class="big-view-price-badge"><strong>{{price | currency:current_currency_details.code :'symbol-narrow'  }}</strong></span>

                              </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!product.one_price && priceFrom && price">
                              <ng-container *ngIf="current_currency_details">
          <span
            class="big-view-price-badge"><strong>{{priceFrom | currency:current_currency_details.code:'symbol-narrow'}}</strong></span>
                                <span class="big-price-text"> - </span><span
                                class="big-view-price-badge"><strong>{{price | currency:current_currency_details.code:'symbol-narrow'}}</strong></span>
                              </ng-container>
                            </ng-container>

                            <ng-container *ngIf="product.unit_type_details && price">

                              <span class="big-price-text"> / {{product.unit_type_details.code}}</span>

                            </ng-container>
                            <ng-container *ngIf="(product.discount && product.discount_price_to) || product.deadline">
                              <br/>
                              <ng-container *ngIf="product.discount && product.discount_price_to">

        <span class="price-text discount-color"><strong>{{product.discount}}
          % {{ 'PRODUCT.Discount OFF' | translate }}</strong></span>
                              </ng-container>
                              <ng-container *ngIf="product.deadline">
                                &nbsp;<span
                                class="text-muted price-text">{{ 'PRODUCT.Discount ends date' | translate }}&nbsp;{{product.deadline | date: 'd'}}&nbsp;{{product.deadline | date: 'LLL'}}</span>

                              </ng-container>

                            </ng-container>
                            <ng-container *ngIf="oldPrice">
                              <br/>
                              <ng-container *ngIf="product.one_price && oldPrice">
                                <ng-container *ngIf="current_currency_details">
          <span
            class="text-muted price-text"><s>{{oldPrice | currency:current_currency_details.code :'symbol-narrow'  }}</s></span>
                                </ng-container>
                              </ng-container>

                              <ng-container *ngIf="!product.one_price && oldPriceFrom && oldPrice">
                                <ng-container *ngIf="current_currency_details">
          <span
            class="text-muted price-text"><s>{{oldPriceFrom | currency:current_currency_details.code:'symbol-narrow'}}
            - {{oldPrice | currency:current_currency_details.code:'symbol-narrow'}}</s></span>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </div>

                        </div>
                      </ng-container>

                    </div>

                    <div class="ui-g-12">
                      <ng-container
                        *ngIf="!product.admin_status && product.published">

                        <ng-container *ngIf="isBrowser">
                          <app-supply-request-button [supplier_company]="product.company_details"
                                                     [supplier_user]="product.user_data" [product]="product"
                          ></app-supply-request-button>


                        </ng-container>

                      </ng-container>

                      <ng-container *ngIf="product.link_to_buy">
                        <button pButton type="button" icon="pi pi-link" class="width-auto"
                                label="{{ 'PRODUCT.Order page' | translate }}"
                                (click)="onOrderPageClick()"></button>
                      </ng-container>
                    </div>

                    <div class="ui-g-12">
                      <div *ngIf="product.short_description">
                        <p><strong>{{ 'GENERAL.Description' | translate }}:</strong></p>
                        <app-text-show-more [text]="product.short_description" [richText]="true"
                                            [calcTruncateWords]="false"
                                            [truncateWords]="700"></app-text-show-more>


                      </div>
                      <div *ngIf="product.price_conditions">

                        <p><strong>{{ 'PRODUCT.Price conditions' | translate }}:</strong></p>

                        <app-text-show-more [text]="product.price_conditions" [richText]="true"
                                            [truncateWords]="40"></app-text-show-more>
                      </div>
                      <div *ngIf="product.origin_details">
                        <p><strong>{{ 'PRODUCT.Place of Origin' | translate }}</strong>: {{product.origin_details.name}}
                        </p>
                      </div>
                      <div *ngIf="product.packaging_and_delivery">
                        <p><strong>{{ 'PRODUCT.Packaging and Delivery' | translate }}:</strong></p>
                        <app-text-show-more [text]="product.packaging_and_delivery" [richText]="true"
                                            [truncateWords]="40"></app-text-show-more>

                      </div>

                    </div>

                  </div>

                  <ng-container>
                    <div *ngIf="product.tags.length>0" class="ui-g-12">
                      <label for="tags">{{ 'GENERAL.Hashtags' | translate }}:</label>
                      <p-chips [(ngModel)]="product.tags" id="tags" name="tags" [disabled]="true"
                               title="{{ 'GENERAL.Hashtags' | translate }}">

                        <ng-template let-item pTemplate="item">

                              <span class="ui-chips-token-label ng-star-inserted"> <a class="text-white"
                                                                                      [routerLink]="'/hashtag/'+item+'/'+language">
                                <strong class="cursor-pointer"><u>#{{item}} </u></strong> </a>
                              </span>


                        </ng-template>
                      </p-chips>


                    </div>

                    <div class="ui-g-12">
                      <app-object-attributes [show]="true" [attributes]="product.attributes" [showNewAttribute]="false"
                                             [editMode]="false"></app-object-attributes>
                    </div>
                  </ng-container>

                </div>
              </div>
            </div>


            <ng-container *ngIf="isBrowser">

              <div class="ui-g-12 padding-left-right-0">
                <div class="ui-g-12 padding-left-right-0 text-align-center">
                  <ng-container *ngIf="app.appService.loadingLazyElements">
                    <ng-adsense [adClient]="'ca-pub-4091968257038599'" [adSlot]="1513385937" [adFormat]="'auto'"
                                [fullWidthResponsive]="true" [display]="'block'"></ng-adsense>
                  </ng-container>
                </div>

              </div>


            </ng-container>

          </div>
        </ng-container>

        <ng-container *ngIf="activeTab==1 && product">
          <div class="ui-g-12 dashboard posts-list-size padding-left-right-0">

            <ng-container *ngIf="product.admin_status && currentUserId && product.published">
              <div class="ui-g-12 padding-left-right-0">
                <div class="card padding-0">


                  <app-create-post [product]="product" [company]="product.company"

                                   [placeholder]="'POSTS.share_message' | translate "
                  ></app-create-post>

                </div>
              </div>
            </ng-container>


            <div class="ui-g-12 padding-left-right-0">
              <app-manage-items-list [itemsType]="'feed'"
                                     [showFilter]="true" [showCategories]="true"
                                     (newKeyword)="postsList.setKeyword($event)"
                                     (newOrdering)="postsList.changeOrdering($event)"
                                     #postsManagePanel></app-manage-items-list>
            </div>
            <div class="ui-g-12 padding-left-right-0">
              <app-items-list-agile [endPoint]="'get-filtered-posts-by-page/'" [deleteEndpoint]="'delete-post/'"
                                    [itemsPerPage]="5" [addTimestampToFilter]="true"

                                    [itemsType]="'feed'" [initCurrency]="true" [product]="product.id"
                                    [company]="product.company" [currentUserId]="currentUserId"
                                    [showAdd]="true"
                                    [adClient]="'ca-pub-4091968257038599'" [adSlot]="4219526045" [adFormat]="'fluid'"
                                    [layoutKey]="'-6h+ed+1d-6a+ak'"
                                    [display]="'block'" [itemsPerAdd]="10"
                                    #postsList>
                <ng-template let-item let-i="index" #body>

                  <div class="ui-g-12 padding-left-right-0">
                    <div class="ui-g-12 border-bottom-small">
                      <ng-container *ngIf="!item.published">
          <span class="info-badge-black"
                style="float: left">&nbsp;<b>{{'POSTS.Unpublished' | translate}}</b>&nbsp;</span>
                      </ng-container>
                      <span class="date-time-text"
                            style="float: right">{{item.create_date | dateAgo: language }}</span>
                    </div>
                    <app-post-item [post]="item" [currentUserId]="currentUserId" [index]="i"
                                   [locale]="language"
                                   [isMobile]="isMobile" [truncateNumber]="truncateNumber" [showCommunity]="true"
                                   [siteUrl]="siteUrl" [isBrowser]="isBrowser"
                                   (categorySelect)="postsList.onSelectCategory($event)"
                                   (showLikes)="postsManagePanel.onShowLikes($event)"
                                   (postDeleted)="postsList.onDeleted($event)"
                                   (sendRespond)="onSendRespond($event, i , 2)"
                                   (copyPostLink)="postsList.onCopyLink($event)"></app-post-item>
                  </div>


                </ng-template>

              </app-items-list-agile>
            </div>


            <ng-container *ngIf="currentUserId && isBrowser">

              <app-send-post-respond (responded)="postsList.onResponded($event)"
                                     #respond></app-send-post-respond>
            </ng-container>


          </div>

          <ng-container *ngIf="isBrowser && !isMobile">
            <div class="ui-g-6 info-item-size hide-mobile">


              <div class="ui-g-12">

                <ng-adsense [adClient]="'ca-pub-4091968257038599'" [adSlot]="6825384377" [display]="'inline-block'"
                            [width]="300" [height]="600"></ng-adsense>


              </div>

            </div>

          </ng-container>


        </ng-container>


        <ng-container *ngIf="activeTab==2 && product">


          <div class="ui-g-12 dashboard posts-list-size padding-left-right-0">


            <div class="ui-g-12 padding-left-right-0">
              <div class="card padding-0">

                <ng-container *ngIf="!product.admin_status && currentUserId && product.published">
                  <app-create-post [relatedProduct]="product" [relatedUser]="product.user_data"
                                   [relatedCompany]="product.company_details" [objectRelatedTypesFilter]="'True'"
                                   [defaultPostTypeId]="defaultReviewTypeId"
                                   [defaultPostTypeCode]="'review'"
                                   [placeholder]="'POSTS.Leave your review or ask a question' | translate "
                  ></app-create-post>
                </ng-container>
              </div>
            </div>


            <div class="ui-g-12 padding-left-right-0">
              <app-manage-items-list [itemsType]="'feed'"
                                     [objectRelatedTypesFilter]="'True'"
                                     [showFilter]="true" [showCategories]="true"
                                     (newKeyword)="reviewsList.setKeyword($event)"
                                     (newOrdering)="reviewsList.changeOrdering($event)"
                                     #reviewsManagePanel></app-manage-items-list>
            </div>
            <div class="ui-g-12 padding-left-right-0">
              <app-items-list-agile [endPoint]="'get-filtered-posts-by-page/'" [deleteEndpoint]="'delete-post/'"
                                    [itemsPerPage]="5" [currentUserId]="currentUserId"
                                    [itemsType]="'feed'" [initCurrency]="true" [relatedProduct]="product.id"
                                    [showAdd]="true" [addTimestampToFilter]="true"

                                    [adClient]="'ca-pub-4091968257038599'" [adSlot]="4219526045" [adFormat]="'fluid'"
                                    [layoutKey]="'-6h+ed+1d-6a+ak'"
                                    [display]="'block'" [itemsPerAdd]="8"
                                    #reviewsList>
                <ng-template let-item let-i="index" #body>

                  <div class="ui-g-12 padding-left-right-0">
                    <div class="ui-g-12 border-bottom-small">
                      <ng-container *ngIf="!item.published">
          <span class="info-badge-black"
                style="float: left">&nbsp;<b>{{'POSTS.Unpublished' | translate}}</b>&nbsp;</span>
                      </ng-container>
                      <span class="date-time-text"
                            style="float: right">{{item.create_date | dateAgo: language }}</span>
                    </div>
                    <app-post-item [post]="item" [currentUserId]="currentUserId" [index]="i"
                                   [locale]="language"
                                   [isMobile]="isMobile" [truncateNumber]="truncateNumber" [showCommunity]="true"
                                   [siteUrl]="siteUrl" [isBrowser]="isBrowser"
                                   (categorySelect)="reviewsList.onSelectCategory($event)"
                                   (showLikes)="reviewsManagePanel.onShowLikes($event)"
                                   (postDeleted)="reviewsList.onDeleted($event)"
                                   (sendRespond)="onSendRespond($event, i , 2)"
                                   (copyPostLink)="reviewsList.onCopyLink($event)"></app-post-item>
                  </div>


                </ng-template>

              </app-items-list-agile>
            </div>



          </div>

          <ng-container *ngIf="isBrowser && !isMobile">
            <div class="ui-g-6 info-item-size hide-mobile">


              <div class="ui-g-12">

                <ng-adsense [adClient]="'ca-pub-4091968257038599'" [adSlot]="6825384377" [display]="'inline-block'"
                            [width]="300" [height]="600"></ng-adsense>


              </div>

            </div>

          </ng-container>

        </ng-container>


      </div>
    </div>
  </div>

</ng-container>

