<ng-container *ngIf="carouselView">
  <div class="ui-g-12 background-image-box text-align-center vertical-middle cursor-pointer"
       [ngStyle]="getBackground()" (click)="onClick()">

    <div class="ui-g-12 text-align-center carousel-item-content">
      <h1 class="title text-white" style="text-transform: uppercase;">{{category.name}}</h1>

    </div>

  </div>
</ng-container>

<ng-container *ngIf="productView">
<div  class="ui-g-12">
  <div class="ui-g-12 cursor-pointer" (click)="onClick()">

    <img *ngIf="category.image" src="{{category.image_url}}"
         alt="{{category.name}}"
         width="100%">
    <img *ngIf="!category.image" src="static/assets/img/categories.jpg"
         alt="{{category.name}}"
         width="100%">


  </div>

  <div class="ui-g-12 padding-top-0 padding-bottom-0 text-align-center cursor-pointer" (click)="onClick()">

    <span class="product-item-name"><a>{{category.name}}</a></span>

  </div>
</div>

</ng-container>
