      <div class="ui-g-12 padding-left-right-0">
        <div class="card padding-0">
          <div class="ui-g">
            <div class="ui-g-12 padding-left-right-0 border-bottom-small text-align-right empty-post-height">
              <div class="empty-text gradient empty-post-row" ></div>
            </div>
            <div class="ui-g-12 padding-0 border-bottom-small bg-light empty-post-height">
              <div class="empty-text gradient empty-post-row2"></div>

            </div>
            <div class="ui-g-2 empty-photo">
              <div class="empty-profile-foto gradient"></div>
            </div>
            <div class="ui-g-10">
              <div class="ui-g-12 padding-0">
                <div class="empty-text gradient empty-post-row3"></div>
              </div>
              <div class="ui-g-12 padding-left-right-0">
                <div class="empty-text gradient empty-post-row4"></div>
              </div>


            </div>

            <div class="ui-g-12">
              <div class="ui-g-12 padding-left-right-0">
                <div class="empty-text gradient empty-post-row5"></div>
              </div>
              <div class="ui-g-12 padding-left-right-0">
                <div class="empty-text gradient empty-post-row5"></div>
              </div>
              <div class="ui-g-12 padding-left-right-0">
                <div class="empty-text gradient empty-post-row5"></div>
              </div>
              <div class="ui-g-12 padding-left-right-0">
                <div class="empty-text gradient empty-post-row5"></div>
              </div>
              <div class="ui-g-12 padding-left-right-0">
                <div class="empty-text gradient empty-post-row5"></div>
              </div>
              <div class="ui-g-12 padding-left-right-0">
                <div class="empty-text gradient empty-post-row5"></div>
              </div>
            </div>

          </div>
        </div>

   </div>
