<ng-container *ngIf="isBrowser">


  <div class="ui-g ui-fluid  dashboard main-component-layout">

    <ng-container *ngIf="currentCurrencyDetails">
      <div class="ui-g-12 product-list-size">


        <div class="ui-g-12 padding-left-right-0">
          <app-manage-items-list [itemsType]="'products'"
                                 [showFilter]="true" [showCategories]="true" [showChildCategories]="false"
                                 [showSearch]="false" [showOrdering]="true" [showSearchLabel]="false"
                                 [appliedFilter]="{}"
                                 (newKeyword)="list.setKeyword($event)"
                                 (newOrdering)="list.changeOrdering($event)"></app-manage-items-list>
        </div>
        <div class="ui-g-12 padding-left-right-0">

          <app-items-list-agile [endPoint]="'products-by-page/'" [itemsPerPage]="20"
                                [itemsType]="'products'" [initCurrency]="true" [published]="true"
                                [orderingCode]="'popularity'"
                                [community]="community"
                                [addTimestampToFilter]="true" [addUserToFilter]="true"
                                [currentUserId]="currentUserId"
                                #list>
            <ng-template let-item let-i="index" #body>

              <div class="ui-g-6 ui-md-3 product-item-size padding-left-0">

                <div class="card padding-0 ">

                  <app-product-item [product]="item" [truncateNumber]="15" [currentUserId]=""
                                    [currencyCode]="currentCurrencyDetails?.code" [isMobile]="isMobile"
                                    [showPreview]="true" [locale]="locale"></app-product-item>


                </div>
              </div>


            </ng-template>

          </app-items-list-agile>

        </div>



      </div>
    </ng-container>

  </div>


</ng-container>
