

body .ui-widget, body .ui-widget .ui-widget {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-decoration: none;
}

body .ui-widget-content {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
}

body .ui-widget-content .pi {
    color: #757575;
}

body .ui-widget-header {
    background-color: #009688;
    color: #FFFFFF;
    border: 1px solid #009688;
}

body .ui-widget-header .pi {
    color: #FFFFFF;
}

body .ui-state-active, body .ui-state-highlight {
    background-color: #FFC107;
    color: #000000;
}

body .ui-state-active .pi, body .ui-state-highlight .pi {
    color: #000000;
}

body .ui-widget:disabled, body .ui-state-disabled {
    opacity: 0.35;
    filter: Alpha(Opacity=35);
    background-image: none;
    cursor: auto !important;
}


body .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

body .ui-corner-top {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

body .ui-corner-left {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

body .ui-corner-right {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

body .ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

body a {
    color: #009688;
}

body {
    /* InputGroup */
    /* Validation */
}

body .ui-inputtext {
    background: transparent no-repeat;
    background-image: linear-gradient(to bottom, #009688, #009688), linear-gradient(to bottom, #bdbdbd, #bdbdbd);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    border-width: 0;
    padding: 2px;
    font-size: 14px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

body .ui-inputtext:focus, body .ui-inputtext.ui-state-focus {
    border-width: 0;
    background-size: 100% 2px, 100% 1px;
    outline: none;
    padding-bottom: 2px;
}

body .ui-inputtext:disabled, body .ui-inputtext.ui-state-disabled {
    border-bottom: 1px dotted;
}

body .ui-inputtext.ui-widget-content {
    border-width: 1px;
    background: transparent;
    background-image: none;
}


body .ui-inputtext.ui-state-error {
    border-color: #e62a10;
    background-image: linear-gradient(to bottom, #e62a10, #e62a10), linear-gradient(to bottom, #e62a10, #e62a10);
}

body .ui-widget-header:not(.ui-dataview-header) .ui-inputtext {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(to bottom, #34e2d2, #34e2d2);
    padding-bottom: 2px;
}

body .md-inputfield {
    display: block;
    position: relative;
}

body .md-inputfield > label {
    color: #999;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 1px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}

body .md-inputfield.md-inputfield-fill input {
    background-color: #f7f7f7;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

body .md-inputfield.md-inputfield-fill label {
    top: 2px;
}

body .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled ~ label, body .md-inputfield .ui-inputwrapper-focus ~ label, body .md-inputfield .ui-inputwrapper-filled ~ label {
    top: -20px;
    font-size: 12px;
    color: #009688;
}

body .md-inputfield .input:-webkit-autofill ~ label {
    top: -20px;
    font-size: 12px;
    color: #009688;
}

body .md-inputfield input.ng-dirty.ng-invalid ~ label {
    color: #e62a10;
}

body .md-inputfield .ui-message.ui-messages-error {
    background-color: transparent;
    border: 0 none;
    margin: 0px;
    color: #e62a10;
    font-size: 11px;
}


body .ui-listbox {
    min-width: 12.5em;
    background-color: #ffffff;
    border: 0 none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

body .ui-listbox.ui-inputtext {
    padding: 0;
}

body .ui-listbox .ui-listbox-list {
    padding: 0.5em 0;
    border: 1px solid #d8d8d8;
}

body .ui-listbox .ui-listbox-item {
    overflow: hidden;
    padding: 0.571em 0.857em;
    margin: 0;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-listbox .ui-listbox-item.ui-state-highlight {
    background-color: #FFC107;
    color: #000000;
}

body .ui-listbox:not(.ui-state-disabled) .ui-listbox-item:not(.ui-state-highlight):hover {
    background-color: #e8e8e8;
    color: #000000;
}



body .ui-button, body .ui-datepicker-buttonpane > button {
    overflow: hidden;
    background-color: #009688;
    color: #FFFFFF;
    height: 2.143em;
    font-size: 14px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    padding: 0 1em;
    border: 0 none;
    -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

body .ui-button:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button:enabled:not(:focus):hover {
    background-color: #00796b;
}

body .ui-button:enabled:focus, body .ui-datepicker-buttonpane > button:enabled:focus {
    outline: 0 none;
    background-color: #00c9b6;
}

body .ui-button .ui-button-text, body .ui-datepicker-buttonpane > button .ui-button-text {
    padding: 0;
    line-height: 2.143em;
}

body .ui-button .pi, body .ui-datepicker-buttonpane > button .pi {
    color: #FFFFFF;
}

body .ui-button.ui-button-icon-only, body .ui-datepicker-buttonpane > button.ui-button-icon-only {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 2.143em;
    height: 2.143em;
}

body .ui-button.ui-button-text-icon-left, body .ui-datepicker-buttonpane > button.ui-button-text-icon-left {
    padding-left: 2.571em;
}

body .ui-button.ui-state-default.ui-button-info, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default {
  color: #ffffff;
  background-color: #03A9F4;
}
body .ui-button.ui-state-default.ui-button-info:enabled:hover, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default:enabled:hover {
  background-color: #0277BD;
}
body .ui-button.ui-state-default.ui-button-info:enabled:focus, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default:enabled:focus {
  outline: 0 none;
  background-color: #2ebcfc;
}


body .ui-button.orange-btn, body .ui-datepicker-buttonpane > button.orange-btn {
    background-color: #FF9800;
}

body .ui-button.orange-btn:enabled:not(:focus):hover, body .ui-datepicker-buttonpane > button.orange-btn:enabled:not(:focus):hover {
    background-color: #EF6C00;
}

body .ui-button.orange-btn:focus, body .ui-datepicker-buttonpane > button.orange-btn:focus {
    outline: 0 none;
    background-color: #ffad33;
}

body .ui-button.flat, body .ui-datepicker-buttonpane > button.flat {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

body .ui-button.ui-state-default.ui-button-secondary, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
    color: #424242;
    background-color: #ffffff;
}

body .ui-button.ui-state-default.ui-button-secondary .ui-button-icon-left, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default .ui-button-icon-left {
    color: #757575;
}


body .ui-button.ui-state-default.ui-button-secondary:enabled:hover, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:hover {
    background-color: #e8e8e8;
    color: #000000;
}

body .ui-button.ui-state-default.ui-button-secondary:enabled:focus, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:focus {
    background-color: #e6e6e6;
}


body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
    color: #ffffff;
    background-color: #4CAF50;
}

body .ui-button.ui-state-default.ui-button-success:enabled:hover, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:hover {
    background-color: #2E7D32;
}

body .ui-button.ui-state-default.ui-button-success:enabled:focus, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:focus {
    outline: 0 none;
    background-color: #6ec071;
}


body .ui-buttonset .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #00796b;
}

body .ui-buttonset .ui-button.ui-state-active {
    background-color: #FFC107;
    color: #000000;
}


body .ui-splitbutton {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
}

body .ui-splitbutton > .ui-button {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    vertical-align: top;
}

body .ui-splitbutton > .ui-button:active {
    background-color: #00c9b6;
}

body .ui-splitbutton .ui-splitbutton-menubutton {
    height: 2.143em;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

body .ui-splitbutton .ui-menu {
    width: 100%;
    min-width: 12.5em;
}

body .ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #00796b;
}

body .ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):focus {
    outline: 0 none;
    background-color: #00c9b6;
}

body .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.429em;
    width: 1.429em;
    height: 1.429em;
    cursor: default;
    margin: 0 0.5em 0 0;
}

body .ui-chkbox .ui-chkbox-box {
    border: 2px solid #757575;
    width: 1.429em;
    height: 1.429em;
    position: relative;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

body .ui-chkbox .ui-chkbox-box:before {
    position: absolute;
    left: 6px;
    top: 6px;
    content: "";
    background-color: #4DB6AC;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    font-size: 18px;
    margin-left: -1px;
    margin-top: -1px;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #009688;
    background-color: #009688;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active .ui-chkbox-icon {
    color: #FFFFFF;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active:before {
    -webkit-animation: rippleOn 400ms forwards ease-out;
    animation: rippleOn 400ms forwards ease-out;
}

body .ui-chkbox .ui-chkbox-box.ui-state-focus {
    border-color: #009688;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-transition: box-shadow 0.3s, background-color 0.3s;
    -o-transition: box-shadow 0.3s, background-color 0.3s;
    -webkit-transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
}

body .ui-radiobutton {
    position: relative;
    margin: 0 0.5em 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 1.429em;
    height: 1.429em;
}

body .ui-radiobutton .ui-radiobutton-box {
    border: 2px solid #757575;
    width: 1.429em;
    height: 1.429em;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

body .ui-radiobutton .ui-radiobutton-box:before {
    position: absolute;
    left: 8px;
    top: 8px;
    content: "";
    background-color: #4DB6AC;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
    border-color: #009688;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-transition: box-shadow 0.3s, background-color 0.3s;
    -o-transition: box-shadow 0.3s, background-color 0.3s;
    -webkit-transition: box-shadow 0.3s, background-color 0.3s;
    transition: box-shadow 0.3s, background-color 0.3s;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #009688;
    background-color: transparent;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active:before {
    -webkit-animation: rippleOn 400ms forwards ease-out;
    animation: rippleOn 400ms forwards ease-out;
}

body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
    display: block;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 1em;
    transition: -webkit-transform ease 0.28s;
    transition: transform ease 0.28s;
    -webkit-transform: scale(0);
    transform: scale(0);
    margin: 0;
}

body .ui-radiobutton .ui-radiobutton-box .pi-circle-on {
    background-color: #009688;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

/*body .ui-radiobutton .ui-radiobutton-box .pi-circle-on.pi:before {*/
    /*content: "circle";*/
/*}*/

body .ui-autocomplete-panel {
    padding: 0;
    border: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-autocomplete-panel.ui-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0.5em 0;
}

body .ui-autocomplete-panel .ui-autocomplete-list .ui-autocomplete-list-item {
    padding: 0.571em 0.857em;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}


body .ui-autocomplete-panel .ui-autocomplete-list .ui-autocomplete-list-item.ui-state-highlight {
    color: #000000;
}

body .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    height: 1.429em;
    width: 1.429em;
    padding: 0;
    right: 0;
    bottom: 0;
    margin-right: 0;
    position: absolute;
}

body .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only .ui-button-text {
    display: none;
}

body .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only .pi {

    color: #757575;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container.ui-inputtext {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 2px 1px 2px;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container.ui-state-disabled {
    border-bottom: 1px dotted;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-input-token {
    float: none;
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-input-token > input {
    padding: 0;
    font-size: 14px;
    margin: 0;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token .ui-autocomplete-token-label {
    display: inline-block;
    vertical-align: middle;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token .ui-autocomplete-token-icon {
    font-size: 14px;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-dropdown.ui-button.ui-button-icon-only {
    bottom: 3px;
}

body .ui-fluid .ui-autocomplete.ui-autocomplete-dd > .ui-inputtext {
    width: 100%;
}

body .ui-dropdown {
    border-width: 0;
    background: transparent no-repeat;
    background-image: linear-gradient(to bottom, #009688, #009688), linear-gradient(to bottom, #bdbdbd, #bdbdbd);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    padding-bottom: 2px;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}





body .ui-dropdown .ui-dropdown-label {
    background: none;
}

body .ui-dropdown .ui-dropdown-label.ui-inputtext {
    color: #424242;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border-width: 0;
    background-size: 100% 2px, 100% 1px;
    padding-bottom: 2px;
    outline: none;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus .ui-dropdown-label {
    padding-bottom: 2px;
}

body .ui-dropdown-panel {
    padding: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-dropdown-panel .ui-dropdown-list {
    padding: 0.5em 0;
}

body .ui-dropdown-panel .ui-dropdown-item {
    margin: 0;
    padding: 0.571em 0.857em;
    color: #424242;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-dropdown-panel .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color: #e8e8e8;
    color: #000000;
}

body .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
    background-color: #FFC107;
    color: #000000;
}

body .ui-dropdown-panel.ui-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .ui-dropdown-panel .ui-dropdown-filter-container {
    display: block;
    border-bottom: 1px solid #bdbdbd;
    background-color: #009688;
    padding: 0.714em 1em;
}

body .ui-dropdown-panel .ui-dropdown-filter-container input {
    color: #ffffff;
}

body .ui-dropdown-panel .ui-dropdown-filter-container input:focus {
    border-bottom-color: #ffffff;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .pi {

    right: 0.75em;
    color: #ffffff;
}

body .ui-multiselect {
    border-bottom: 1px solid #bdbdbd;
    box-sizing: border-box;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

body .ui-multiselect .ui-multiselect-label-container {
    padding-right: 1.5em;
}

body .ui-multiselect .ui-multiselect-label-container .ui-multiselect-label {
    padding: 2px;
}



body .ui-multiselect:not(.ui-state-disabled).ui-state-focus {
    border-bottom: 2px solid #009688;
}

body .ui-multiselect-panel.ui-widget {
    padding: 0;
    border: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border: 0 none;
    padding: 0.714em 1em;
    position: relative;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-chkbox {
    float: none;
    margin: 0 8px 0 1px;
    position: static;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-chkbox .ui-chkbox-box {
    border-color: #ffffff;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    border-color: #ffffff;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-filter-container {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-filter-container .pi {
    top: -2px;
    left: 0;
    color: #ffffff;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-filter-container .ui-inputtext {
    color: #ffffff;
    padding: 2px;
    padding-left: 1.5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-filter-container .ui-inputtext:focus {
    border-bottom-color: #ffffff;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-close {
    position: absolute;
    right: 0.5em;
    top: 0.625em;
    height: 1.5em;
    width: 1.5em;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-close span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    color: #FFFFFF;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-multiselect-close:hover {
    background-color: #4DB6AC;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-list {
    padding: 0.5em 0;
    background-color: #ffffff;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item {
    padding: 0.571em 1em;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item .ui-chkbox .ui-chkbox-box.ui-state-active:before {
    -webkit-animation: none;
    animation: none;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color: #e8e8e8;
    color: #000000;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item.ui-state-highlight {
    color: #000000;
}


body .ui-inputswitch {
    height: 14px;
    width: 34px !important;
}

body .ui-inputswitch .ui-inputswitch-slider {
    background-color: #9e9e9e;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

body .ui-inputswitch .ui-inputswitch-slider:before {
    background-color: #ffffff;
    height: 1.429em;
    width: 1.429em;
    left: 0;
    bottom: -0.214em;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    -webkit-transform: translateX(1.25em);
    -ms-transform: translateX(1.25em);
    transform: translateX(1.25em);
}


  body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #FFECB3;
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before {
    background-color: #FFC107;
}

body .ui-slider {
    padding: 0;
}

body .ui-slider .ui-slider-handle {
    background-color: #FFC107;
    color: #000000;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 1.429em;
    height: 1.429em;
    transform: scale(0.7);
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .ui-slider .ui-slider-handle:focus {
    outline: 0 none;
}

body .ui-slider.ui-slider-horizontal {
    height: 2px;
    border: 0 none;
    background-color: #bdbdbd;
}

body .ui-slider.ui-slider-horizontal .ui-slider-handle {
    top: -0.65em;
}


body .ui-slider .ui-slider-range {
    padding: 0;
    background-color: #FFC107;
    color: #000000;
}

body .ui-slider:not(.ui-state-disabled) .ui-slider-handle:hover {
    transform: scale(1);
}

body .ui-calendar .ui-datepicker {
    min-width: auto;
}



body .ui-datepicker {
    padding: 0;
    width: 24em;
}

body .ui-datepicker.ui-shadow {
    border: 0 none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .ui-datepicker .ui-datepicker-group {
    padding: 0;
}

body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:hover, body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:hover {
    background-color: #009688;
}

body .ui-datepicker:not(.ui-state-disabled) table td a:not(.ui-state-active):not(.ui-state-highlight):hover {
    background-color: #e8e8e8;
    color: #000000;
}

body .ui-datepicker:not(.ui-state-disabled) .ui-monthpicker a.ui-monthpicker-month:not(.ui-state-active):hover {
    background-color: #e8e8e8;
    color: #000000;
}

body .ui-datepicker .ui-datepicker-header {
    padding: 0.714em 1em;
    background: #00796b;
    border-color: #00796b;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    cursor: pointer;
    top: 12px;
    left: 0.5em;
    font-size: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
    color: #FFFFFF;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
    content: "";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev .pi {
    display: none;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    cursor: pointer;
    top: 12px;
    font-size: 20px;
    right: 0.5em;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #FFFFFF;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
    content: "";
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-next .pi {
    display: none;
}

body .ui-datepicker .ui-datepicker-header select.ui-datepicker-month, body .ui-datepicker .ui-datepicker-header select.ui-datepicker-year {
    font-size: 12px;
}

body .ui-datepicker table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
}

body .ui-datepicker thead tr {
    color: #FFFFFF;
    background: #009688;
}

body .ui-datepicker tbody td {
    padding: 0.25em;
    box-sizing: border-box;
}

body .ui-datepicker tbody td.ui-datepicker-today a {
    color: #424242;
    background-color: #ffffff;
    border: 1px solid #FFC107;
}

body .ui-datepicker tbody td.ui-datepicker-today a.ui-state-active {
    background-color: #FFC107;
    color: #000000;
}

body .ui-datepicker tbody td a {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #424242;
    display: inline-block;
    height: 3em;
    width: 3em;
    line-height: 3em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

body .ui-datepicker tbody td a.ui-state-active {
    background-color: #FFC107;
    color: #000000;
}


body .ui-datepicker .ui-monthpicker .ui-monthpicker-month {
    color: #424242;
}

body .ui-datepicker .ui-monthpicker .ui-monthpicker-month.ui-state-active {
    color: #000000;
    background-color: #FFC107;
}

body .ui-rating {
    font-size: inherit;
    min-height: 1.5em;
}



/*body .ui-rating .pi-star:before {*/
    /*content: "";*/
/*}*/



/*body .ui-rating .pi-star-o:before {*/
    /*content: "";*/
/*}*/

body .ui-chips > ul.ui-inputtext {
    padding: 2px;
}

body .ui-chips > ul.ui-inputtext .ui-chips-input-token {
    padding-bottom: 2px;
}

body .ui-chips > ul.ui-inputtext .ui-chips-input-token > input {
    padding: 0;
    font-size: 14px;
    margin: 0;
    vertical-align: bottom;
}



body .ui-chips > ul.ui-inputtext .ui-chips-token {
    display: inline-block;
    float: none;
    vertical-align: middle;
    font-size: 1em;
}

body .ui-chips > ul.ui-inputtext .ui-chips-token .ui-chips-token-label {
    display: inline-block;
    vertical-align: middle;
}

body .ui-chips > ul.ui-inputtext.ui-state-disabled {
    border-bottom: 1px dotted;
}


body .ui-inputgroup .ui-inputgroup-addon {
    padding: 2px 2px 1px 2px;
    border-color: #bdbdbd;
    background-color: transparent;
    color: #757575;
    min-width: 28px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

body .ui-inputgroup .ui-inputgroup-addon:first-child {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

body .ui-inputgroup .ui-inputgroup-addon:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

body .ui-inputgroup .ui-inputgroup-addon > i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: flex-end;
}

body .ui-inputgroup .ui-inputtext {
    align-self: flex-end;
}

body .ui-inputgroup .md-inputfield {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    display: inherit;
}

body .ui-inputgroup .md-inputfield label {
    top: 5px;
}


body .ui-fluid .ui-inputgroup .ui-button-icon-only {
    width: 2.143em;
    height: 2.143em;
    padding: 0;
}

body .ui-fluid .ui-inputgroup .ui-button-icon-only .ui-button-icon-left {
    margin-left: -0.45em;
}

body .ui-inputtext.ng-dirty.ng-invalid, body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, body p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, body p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext, body p-chips.ng-dirty.ng-invalid > .ui-inputtext, body p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, body p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, body p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, body p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, body p-listbox.ng-dirty.ng-invalid .ui-inputtext, body p-multiselect.ng-dirty.ng-invalid > .ui-multiselect, body p-spinner.ng-dirty.ng-invalid > .ui-inputtext, body p-selectbutton.ng-dirty.ng-invalid .ui-button, body p-togglebutton.ng-dirty.ng-invalid .ui-button {
    background-image: linear-gradient(to bottom, #e62a10, #e62a10), linear-gradient(to bottom, #e62a10, #e62a10);
}

@media (max-width: 640px) {
    body .ui-buttonset > .ui-button {
        display: block;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    body .ui-buttonset > .ui-button:first-child {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    body .ui-buttonset > .ui-button:last-child {
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    body .ui-splitbutton > .ui-button {
        display: inline-block;
    }

    body .ui-splitbutton > .ui-button:first-child {
        -moz-border-radius-topleft: 0;
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -moz-border-radius-topright: 0;
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
    }

    body .ui-splitbutton > .ui-button:last-child {
        -moz-border-radius-bottomleft: 0;
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

body .ui-panel {
    padding: 0;
}

body .ui-panel .ui-panel-titlebar {
    border: 0 none;
    padding: 0.714em 1em;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}


body .ui-panel .ui-panel-content {
    height: 100%;
    box-sizing: border-box;
    padding: 0.857em 1em;
    line-height: 1.5;
}

body .ui-fieldset {
    padding: 0.857em 1em;
}

body .ui-fieldset .ui-fieldset-legend {
    padding: 0.714em 1em;
    padding-left: 2px;
    padding-right: 8px;
    color: #009688;
}


  body .ui-fieldset .ui-fieldset-legend .ui-fieldset-legend-text {
    color: #009688;
}



body .ui-toolbar {
    background-color: #00796b;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    padding: 10px;
}


body .ui-tabview {
    padding: 0;
    border: 0 none;
}

body .ui-tabview .ui-tabview-nav {
    background-color: #ffffff;
    border: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-tabview .ui-tabview-nav > li {
    padding: 0;
    overflow: hidden;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

body .ui-tabview .ui-tabview-nav > li > a {
    cursor: pointer;
    padding: 0.714em 1em;
}



body .ui-tabview .ui-tabview-nav > li > .pi-times {
    margin: 0.5em 0 0 0;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: #757575;
}

body .ui-tabview .ui-tabview-nav > li.ui-state-default a {
    color: #757575;
}

body .ui-tabview .ui-tabview-nav > li:not(.ui-state-active):not(.ui-state-disabled):hover {
    background-color: #ffffff;
}

body .ui-tabview .ui-tabview-nav > li.ui-state-active {
    background-color: transparent;
    border-color: #FFC107;
    border-style: solid;
}

body .ui-tabview .ui-tabview-nav > li.ui-state-active a {
    color: #009688;
}


body .ui-tabview .ui-tabview-nav > li.ui-state-active > .pi-times {
    color: #FFC107;
}



body .ui-tabview .ui-tabview-nav > li .ui-tabview-title {
    line-height: 1.5em;
    vertical-align: middle;
}

body .ui-tabview .ui-tabview-panel {
    padding: 0.857em 1em;
    line-height: 1.5;
}

body .ui-tabview.ui-tabview-top > .ui-tabview-nav {
    padding: 0;
    margin: 0;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #eaeaea;
}

body .ui-tabview.ui-tabview-top > .ui-tabview-nav > li {
    border-style: solid;
    border-width: 0 0 2px 0;
}



body .ui-tree {
    padding: 0.857em 1em;
}

body .ui-tree .ui-treenode-children {
    padding-left: 2em;
}

body .ui-tree .ui-treenode-content {
    padding: 0.571em 0.857em;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
}



body .ui-tree .ui-treenode-content .ui-tree-toggler {
    vertical-align: middle;
}

body .ui-tree .ui-treenode-content .ui-treenode-label {
    padding: 0 0.286em 0 0.286em;
    margin: 0;
    vertical-align: middle;
}

body .ui-tree .ui-treenode-content.ui-treenode-selectable:not(.ui-state-highlight) .ui-treenode-label:not(.ui-state-highlight):hover {
    background-color: #e8e8e8;
    color: #000000;
}


body .ui-breadcrumb a {
    color: #ffffff;
}

body .ui-breadcrumb li:first-child a {
    position: relative;
    margin-top: 0;
}

body .ui-breadcrumb li:first-child a span {

}

body .ui-breadcrumb .ui-breadcrumb-chevron {
    margin: 0;

}

body .ui-breadcrumb li {
    margin: 0;
}


body .ui-menu .ui-menuitem-link, body .ui-menubar .ui-menuitem-link, body .ui-tieredmenu .ui-menuitem-link, body .ui-contextmenu .ui-menuitem-link, body .ui-megamenu .ui-menuitem-link, body .ui-slidemenu .ui-menuitem-link {
    padding: 0.571em 0.857em;
    color: #424242;
    min-height: 2.286em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-menu .ui-menuitem-link:hover, body .ui-menubar .ui-menuitem-link:hover, body .ui-tieredmenu .ui-menuitem-link:hover, body .ui-contextmenu .ui-menuitem-link:hover, body .ui-megamenu .ui-menuitem-link:hover, body .ui-slidemenu .ui-menuitem-link:hover {
    background-color: #e8e8e8;
    color: #000000;
}

body .ui-menu .ui-menuitem-link:focus, body .ui-menubar .ui-menuitem-link:focus, body .ui-tieredmenu .ui-menuitem-link:focus, body .ui-contextmenu .ui-menuitem-link:focus, body .ui-megamenu .ui-menuitem-link:focus, body .ui-slidemenu .ui-menuitem-link:focus {
    background-color: #e8e8e8;
    color: #000000;
}

body .ui-menu .ui-menuitem-link .ui-menuitem-text, body .ui-menubar .ui-menuitem-link .ui-menuitem-text, body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-text, body .ui-contextmenu .ui-menuitem-link .ui-menuitem-text, body .ui-megamenu .ui-menuitem-link .ui-menuitem-text, body .ui-slidemenu .ui-menuitem-link .ui-menuitem-text {
    vertical-align: middle;
}

body .ui-menu .ui-menuitem-link .ui-menuitem-icon, body .ui-menubar .ui-menuitem-link .ui-menuitem-icon, body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon, body .ui-contextmenu .ui-menuitem-link .ui-menuitem-icon, body .ui-megamenu .ui-menuitem-link .ui-menuitem-icon, body .ui-slidemenu .ui-menuitem-link .ui-menuitem-icon {
    font-size: 18px;
    color: #757575;
}


  body .ui-menu {
    min-width: 12.5em;
    padding: 0.5em 0;
}

body .ui-menu .ui-menuitem {
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-menu .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
    vertical-align: middle;
}

body .ui-menu.ui-shadow, body .ui-menu .ui-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body .ui-menu .ui-submenu-header {
    border: 0 none;
    margin: 0;
    font-size: 14px;
    padding: 0.571em 0.857em;
    font-weight: 400;
    border-radius: 0;
}

body .ui-tabmenu {
    padding: 0;
}

body .ui-tabmenu .ui-tabmenu-nav {
    padding: 0;
    background-color: #ffffff;
    border: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-tabmenu .ui-tabmenu-nav > .ui-tabmenuitem {
    top: auto;
    margin: 0 4px 0 0;
    padding: 0;
    border-style: solid;
    border-width: 0 0 2px 0;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

body .ui-tabmenu .ui-tabmenu-nav > .ui-tabmenuitem > a {
    padding: 0.714em 1em;
}

body .ui-tabmenu .ui-tabmenu-nav > .ui-tabmenuitem > a:focus {
    outline: 0 none;
}

body .ui-tabmenu .ui-tabmenu-nav > .ui-tabmenuitem > a .ui-menuitem-icon, body .ui-tabmenu .ui-tabmenu-nav > .ui-tabmenuitem > a .ui-menuitem-text {
    float: none;
    display: inline-block;
    vertical-align: middle;
}


body .ui-tabmenu .ui-tabmenu-nav > .ui-tabmenuitem:not(.ui-state-active):hover {
    background-color: #ffffff;
}

body .ui-tabmenu .ui-tabmenu-nav > .ui-tabmenuitem.ui-state-active {
    background-color: #ffffff;
    border-color: #FFC107;
    border-style: solid;
}

body .ui-tabmenu .ui-tabmenu-nav > .ui-tabmenuitem.ui-state-active a {
    color: #009688;
}


body {
    /* Messages */
}

body .ui-message .ui-message-text {
    margin-left: 5px;
}


body .ui-message.ui-message-success {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}

body .ui-message.ui-message-info {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #ffffff;
}


  body .ui-message.ui-message-error {
    background-color: #e62a10;
    border-color: #e62a10;
    color: #ffffff;
}






body .ui-toast .ui-toast-message {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body .ui-toast .ui-toast-message.ui-toast-message-info {
    background-color: #2196F3;
    border: 0 none;
    color: #ffffff;
}

body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-message-content .ui-toast-close-icon {
    color: #ffffff;
}


body .ui-toast .ui-toast-message.ui-toast-message-success {
    background-color: #8BC34A;
    border: 0 none;
    color: #ffffff;
}

body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-message-content .ui-toast-close-icon {
    color: #ffffff;
}



body .ui-toast .ui-toast-message.ui-toast-message-error {
    background-color: #e62a10;
    border: 0 none;
    color: #ffffff;
}

body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-message-content .ui-toast-close-icon {
    color: #ffffff;
}






body .ui-dialog.ui-shadow {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body .ui-dialog .ui-dialog-titlebar {
    background-color: #ffffff;
    color: #424242;
    padding: 0.714em 1em;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    padding: 0;
    margin-top: 0.4em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover, body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:focus {
    background-color: #e8e8e8;
    color: #000000;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .pi {
    color: #757575;
    display: inline-block;
}


body .ui-dialog .ui-dialog-content {
    padding: 0.857em 1em;
}

body .ui-dialog .ui-dialog-footer {
    text-align: right;
    padding: 0.714em 1em;
    border: 0 none;
}

body .ui-dialog .ui-dialog-footer .ui-button {
    width: auto;
    margin-right: 0.5em;
}

body .ui-dialog .ui-dialog-footer .ui-button:last-child {
    margin-right: 0;
}


body .ui-dialog p {
    line-height: 1.5;
}

body .ui-sidebar .ui-button {
    width: auto;
}



body .ui-overlaypanel.ui-shadow {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body .ui-overlaypanel:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
}

body .ui-overlaypanel:before {
    border-color: rgba(234, 234, 234, 0);
    border-bottom-color: #eaeaea;
}

body .ui-overlaypanel.ui-overlaypanel-flipped:after {
    border-top-color: #ffffff;
}

body .ui-overlaypanel.ui-overlaypanel-flipped:before {
    border-top-color: #eaeaea;
}


body .ui-tooltip {
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-size: 12px;
}

body .ui-tooltip .ui-tooltip-text {
    background-color: #323232;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


body .ui-tooltip.ui-tooltip-bottom .ui-tooltip-arrow {
    top: 1px;
    border-bottom-color: #323232;
}


body .ui-progressbar {
    height: 1.5em;
    padding: 0;
    overflow: hidden;
    border-color: #d8d8d8;
}

body .ui-progressbar .ui-progressbar-value {
    height: 1.5em;
    border: 1px solid #009688;
}

body .ui-progressbar .ui-progressbar-label {
    color: #ffffff;
    display: none !important;
}


body .ui-galleria {
    padding: 0;
}


body .ui-inplace .ui-inplace-display {
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

body .ui-inplace .ui-inplace-display:hover {
    background-color: #e8e8e8;
}
